mixin super-section(title)
	//- create lower case variable with dashes
	//- of whatever we put into the title
	- var sectionLink = title.toLowerCase().replace( / +?/g, '-' )

	//- Section Link
	if title
		a(name= sectionLink)

		//- Title
		.hero.hero-half-height
			if !title
				.hero__header ERROR: Add Section Title
			else
				.hero__header= title

		//- Content
		section.copy
			.copy__content
				block


mixin page-section(title, img)
	section.copy
		.copy__head
			if img
				img.copy__logo( src= '/img/' + img )

			if title
				h2.copy__header= title
			else
				h2.copy__header Add Section Title

		.copy__content
			block


mixin p
	p.copy__paragraph
		block
