mixin super-section(title)
	// create lower case variable with dashes
	// of whatever we put into the title
	- var sectionTitle = title.toLowerCase().replace(/ /g, '-')

	a(name= sectionTitle)

	.hero.hero-half-height
		.hero__header= title
	section.copy
		.copy__head
			if !title
				h2.copy__header Add Section Title

		.copy__content
			block


mixin page-section(title, img)
	section.copy
		.copy__head
			if img
				img.copy__logo(src= '/img/' + img )

			if title
				h2.copy__header= title
			else
				h2.copy__header Add Section Title

		.copy__content
			block


mixin p
	p.copy__paragraph
		block
