+super-section('COMMERCIAL')
	+p.
		Commercial properties need professional plumbers just like residential properties;commercial properties have all components on a larger scale that require a master plumber’s expertise and experience to keep everything working together in unison. Whether it is a large office building or an apartment community, Dash Plumbing is can manage any and all plumbing issues, while at the same time providing scheduled on-site maintenance so that future problems can be averted.

	+p.
		Dash Plumbing is very experienced in commercial build outs. Whether your business is moving into a new space or updating an existing space, Dash will meet your needs in a manner sensitive the time constraints your business operation requires.
