+super-section('RESIDENTIAL', 'renovate.jpg')
	+p.
		Anyone that owns a home understands that plumbing issues can often be an unexpected event. One day everything can be fine and the next morning you can wake up to carpeting that has been soaked or no hot water. Dash Plumbing fully understands and appreciates residential plumbing repair issues and needs. Whether it be a simple leaking faucet or a broken water heater, Dash Plumbing will make sure that all problems are fixed correctly, in a timely manner, and that the customer understands the nature of what caused the need for repairs.

	+p.
		Pete believes it is his duty to explain to our customers exactly what caused their repair needs. If you have a question about a repair or a problem that you are having with your home, feel free to call Pete at  614-906-8311, and he will do his best to explain what may be possible causes and solutions. Some jobs are not estimable over the phone however, so in many service areas Dash Plumbing can provide a free or low cost estimate. Please call to confirm whether you qualify for a free estimate.

	+p.
		Below are some common examples of residential services provided by Dash Plumbing:

	ul Kitchen
		li Garbage Disposal Repair
		li Faucet Repair & Install
		li Dishwasher Installation
		li Sink Installation
		li Gas Lines
		li Gas Stoves/ranges
		li Ice Maker Installation
	ul Bathroom
		li Faucet Repair & Replacement
		li Shower Leak
		li Toilet Repair and Installation
		li Bathtub/Shower Repair and Installation
