extends views/default.pug

append config
	- var PageTitle = 'Home'
	- var Description = 'The Best Plumbers in Columbus Ohio! We\'re here to help YOU!'

block site-content

	include views/partials/nav

	main.content-area
		include sections/residential
		include sections/commercial
		include sections/services
		include sections/about
