- var siteName          = 'http://dashplumbing.us/'
- var SiteTitle         = 'DASH Plumbing'
- var phoneNumber       = '(614)906-8311'
- var phoneNumberDashed = phoneNumber.replace( /\(|\)/g, '' ).replace( / +?/g, '-' )
- var MetaDesc          = 'The Best Plumbers in Columbus Ohio!'
