nav.hero.hero-full-height.pic--index
	.hero__section
		.hero__info
			a(href='#residential')
				img.hero__logo(src='/img/menu-residential.svg')
			h1.hero__section-header Residential
			p.hero__paragraph Don’t let a small plumbing emergency ruin your day! <br>We will help you with any plumbing need that may arrise!
		.hero__nav


	.hero__section
		.hero__info
			a(href='#commercial')
				img.hero__logo(src='/img/menu-commercial.svg')
			h1.hero__section-header Commercial
			p.hero__paragraph Business owners and managers - call us for professional qaulity  plumbing solutions. We are a fully licensed and bonded company.
		.hero__nav


	.hero__section
		.hero__info
			a(href='#services')
				img.hero__logo(src='/img/menu-services.svg')
			h1.hero__section-header Services
			p.hero__paragraph Installation, Renovation, Upgrades, Kitchens, Bathrooms, Showers; See a the full list of services we offer - we are here to help YOU!
		.hero__nav


	.hero__section
		.hero__info
			a(href='#about-us')
				img.hero__logo(src='/img/menu-about.svg')
			h1.hero__section-header About Us
			p.hero__paragraph We are a <br> company - what that means for you is: <br> We can meet all of your construction and plumbing needs!
		.hero__nav
