header.gh
	.gh-logo
		a(href='/index.html'): img.gh-logo__image(src='/img/logo.svg' alt='Plumbing Flow')

	.gh-hotline
		article.gh-hotline__wrapper
			h4.gh-hotline__header Service Hotline
			h4.gh-hotline__phone #{phoneNumber}

header.fh
	a(href='/index.html'): img.fh-logo(src='/img/mini-logo.svg')
	.fh-call #{phoneNumber}